/* body, general */
html, body {
    padding: 0;
    margin-left: 3em;
    margin-right: 3em;
    background: #1e1e1e;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

@media only screen and (max-width: 800px){
html, body {
    margin-left: initial;
    margin-right: initial;
}
}

h1 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 4.5em;
    letter-spacing: -5px;
    color: #f0ffff;
    margin-top: 0;
}

h1 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 4.5em;
    letter-spacing: -5px;
    color: #f0ffff;
    margin-top: 0;
}

h1.section-heading, h2.section-heading, h3.section-heading {
    color:tomato;
}

h2 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 3.5em;
    letter-spacing: -5px;
    color: #f0ffff;
    margin-top: 0;
}

h3 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 2.5em;
    letter-spacing: -2px;
    color: #f0ffff;
    margin-top: 0;
}

p {
    font-family: "Arial";
    color: #cccccc;
}
a {
    color: #cccccc;
    transition: ease-in-out 0.1;
}
a:hover {
    text-decoration: none;
    color:#f0ffff;
}

.fas {
    transition: ease-in-out 0.2s;
}

.fas:hover {
    color: tomato !important;
}

@media only screen and (max-width:1100px){
    h1 {
        font-size:3em;
        letter-spacing: initial;
    }
    h2 {
        font-size: 2em;
        letter-spacing: initial;
    }
    h3 {
        font-size: 1em;
        letter-spacing: initial;
    }
} 

/* head */
.head {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-text {
    padding-top: 12rem;
    padding-bottom: 12rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}


@media only screen and (max-width: 1100px){
    .head {
    max-height: 100vh;
    }
    .head-text{
      padding: 2em;
      width:100%;
    }
  }

/* main */
.about, .roster, .contact {
    height: 100vh;
}

#sectionA.col-xl-6 {
    height:90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
} 

 #sectionB.col-xl-6 {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
} 

#sectionB-img.col-xl-6 {
    height: 70vh;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
} 

.roster-imgs {
    height: 100%;
    width: auto;
} 

#sectionForm.col-xl-6 {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
} 

.arrow-down {
    height: 10vh;
}

@media only screen and (max-width: 1100px){
    .about, .roster, .contact {
        height: 100%;
    }
    .arrow-down {
        opacity: 0;
    }
    #sectionA.col-xl-6 {
        height: 100%;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    #sectionB.col-xl-6 {
        height: 100%;
    }
    #middle-man.row {
        flex-direction: column-reverse;
        margin: 1em;
    } 
    #sectionB-img.col-xl-6 {
        height: 70vh;
    }
    #sectionForm.col-xl-6 {
        height: 100%;
    }
  }

  @media only screen and (max-width: 850px){
    #sectionB-img.col-xl-6 {
        height: 40vh;
    }
  }

/* fade-in effekt */
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.show {
    opacity: 1;
}

.from-left {
    grid-column: 2 / 3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3 / 4;
    transform: translatex(50%);
}

.from-left, .from-right {
    transition: opacity 600ms ease-in, transform 600ms ease-in;
    opacity: 0;
}

.from-left.show, .from-right.show {
    transform: translateX(0);
    opacity: 1;
}

/* footer */
.foot {
    height: 60vh;
    padding-top: 4em;
}

#footer.row {
    text-align: center;
}

@media only screen and (max-width: 1100px){
    .foot {
        height: 100%;
    }
}

/* carousel (artist roster) */
.carousel {
    display: none;
    height:100%;
}

.prevSlide, .nextSlide {
    cursor: pointer;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.2s ease;
}

.nextSlide {
    right: 0;
}
.prevSlide {
    left: 0;
}

.prevSlide:hover, .nextSlide:hover {
    color:tomato;
}

.artist-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }